@import "variables";
@import "mixins";

.container-wrapper {
  /* this is used to fix the footer issue do not remove */
  @include setheight(95vh);
}


.paginate, .paginate-current {
  background-color:$input-bg;
  border:solid 5px $secondarybg;
  border-radius: 50px;
  display: block;
  padding: 5px 10px;
  margin: 2px 5px;
}

.paginate {
  color: white;
}

.paginate-current {
  background-color: darken($input-bg,5);
  color: white;
  border:solid 5px white;

}

.breadcrumbs
{
  background-color: $input-bg;
  border-top:2px solid $secondarybg;
  border-bottom:2px solid $secondarybg;
  color:$primary-text

  a{
    color:$primary-text;
  }
}



body, html {
  margin: 0;
  height: 100%;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  color: $primary-text;
  font-family: "carnivalee_freakshowregular" Tahoma;
  background-color: $body;

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: white;
    text-decoration: underline;
  }
}

.col-md-6 img, .col-lg-3 img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.head {
  color: white;
  padding: 5px 0px;
  font-size: 1.5rem;
  text-decoration: underline;
  @include setborder(solid, 2px, $secondarybg, bottom);
}


.logo_wrapper {
  background-color: $primarybg;
  @include setborder(solid, 5px, $secondarybg, top);
  @include setborder(solid, 5px, $secondarybg, bottom);
}

.navbar-brand img {
  height: 50px;
  width: 50px;

}

.article-row:hover {
  border-radius: 5px;
  color: black;
  background-color: white;

  a {
    color: black;
  }


}

.logo_wrapper {
  img {
    height: 140px;
    width: 160px;
  }
}

#navbar {

  .profile_pic {
    border: 2px solid red;
    height: 30px;
    border-radius: 50%;
    clip: auto;
    width: 30px;
  }


  @media (max-width: 991.98px) {
    background-color: $primarybg;

    .navbar-toggler {
      color: white;
    }


  }


  @include dropdown();

  a {
    color: white;

    @media (max-width: 991.98px) {
      text-indent: 5px;
      padding: 5px 0px;
    }
  }

  a:hover {
    text-decoration: underline;
  }
}


.footer {
  background-color: $primarybg;
  color: $secondary-text;
  @include setheight(5vh);
}

@import "auth";
@import "forms";