.tld-form
{
  .tld-input
  {


    border: solid 5px $secondarybg;
    border-radius: 10px;
    text-decoration:gold;
    padding: 20px 0px;
    background-color:lighten($input-bg,2);
    color:white;
  }

}