
@mixin setheight($height:null) 
{
    // 
    @if($height == null)
    {
        min-height:20px;
    }
    @else
    {
        min-height:$height;
    }
        
}

@mixin setborder($type,$size,$color,$position:null) 
{
    @if($position == null)
    {
        // All round border;
        border:$type $size $color;
    }
    @else
    {
        border-#{$position}: $type $size $color;
    }

    
}


@mixin dropdown()
{
    .dropdown
    {

        @media(max-width: 991.98px)
        {
            .dropdown-menu
            {

                background-color:$primarybg;
                color:white;
                padding:0px;

                .dropdown-item
                {
                    background-color:$primarybg;
                    color:white;
                    border:none;
                    text-indent: 10px;
                    padding:5px 0px;
                }

                .dropdown-divider
                {
                    background-color: $primarybg;
                    color:$primarybg;
                }
            }


        }
        @media(min-width: 992.00px)
        {
            .dropdown-menu
            {

                background-color:$body;
                color:white;
                padding:0px;

                .dropdown-item
                {
                    background-color:$body;
                    color:white;
                    border:none;
                    text-indent: 10px;
                    padding:5px 0px;
                }

                .dropdown-divider
                {
                    background-color: $body;
                    color:$body;
                }
            }

        }

    }
}